<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>essentials</title>
    </head>

    <body>

        <div th:fragment="tableListing (tables)">
            <div th:if="${tables}">
                <div th:each="table : ${tables}">
                    <div th:if="${table.key}">
                        <h2 th:text="${table.key}">Table name</h2>
                    </div>
                    <table th:if="${table.value}" class="table table-bordered">
                        <tr>
                            <th th:each="column : ${table.value.columns}" th:text="${column}">Column name</th>
                        </tr>

                        <tr th:each="row : ${table.value.rows}">
                            <td th:each="cell : ${row}" th:text="${cell}">Cell value</td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>

        <div th:fragment="fragmentsTop">
            <div th:include="fragments/navbar_template :: navbar"></div>        
            <div th:include="fragments/messages_template :: messages"></div>
        </div>

        <div th:fragments="fragmentsBottom">
            <div th:include="fragments/footer_template :: footer"></div>
        </div>

        <div th:fragment="courses" class="list-group">
            <a th:if="${role != 'STUDENT' and #strings.contains(#httpServletRequest.requestURI, 'courses')}" th:href="@{/courses/create}" class="list-group-item active">
                Create course
            </a>
            <a th:each="course : ${courses}" class="list-group-item" th:href="@{/courses/{courseId} (courseId = ${course.key.id})}">
                <h4 class = "list-group-item-heading" th:text="${course.key.name}">
                    Course name
                </h4>

                <div class="progress list-group-item-text">
                    <div class="progress-bar" role="progressbar" th:aria-valuenow="${#numbers.formatDecimal(course.value, 0, 'DEFAULT', 1, 'DEFAULT') + '%'}" aria-valuemin="0" aria-valuemax="100" 
                         th:style="'width:' + ${#numbers.formatDecimal(course.value, 0, 'DEFAULT', 1, 'DEFAULT') + '%'} + ';'" th:text="${#numbers.formatDecimal(course.value, 0, 'DEFAULT', 1, 'DEFAULT') + '%'}">
                        42%
                    </div>
                </div>
            </a>
        </div>
        
        <div th:fragment="pager (next, previous, page, pageAmount)">
            <ul class="pager">
                    <li th:if="${previous}" class="previous"><a th:href="@{ {previous} (previous = ${previous})}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li th:if="${previous == null}" class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                    <li th:if="${page != null and pageAmount != null}" th:text="${(page + 1) + ' of ' + (pageAmount + 1)}"></li>
                    <li th:if="${next}" class="next"><a th:href="@{ {next} (next = ${next})}">Next <span aria-hidden="true">&rarr;</span></a></li>
                    <li th:if="${next == null}" class="next disabled"><a href="#">Next <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
        </div>

    </body>
</html>
