<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>scripts</title>
    </head>
    <body>
        <div th:fragment="confirmScript">
            <script>
                function confirmScript(message)
                {
                    return confirm(message);
                }


            </script>
        </div>
        <div th:fragment="searchScript">
            <script>

                var $tasks = $('.checkbox label');
                $("#search").keyup(function ()
                {
                    var inputText = $.trim($(this).val()).replace(/ +/g, '').toLowerCase();
                    $tasks.show().filter(function ()
                    {
                        var text = $(this).text().replace(/\s+/g, '').toLowerCase();
                        return !~text.indexOf(inputText);
                    }).hide();
                });
            </script>
        </div>

        <div th:fragment="togglehide (elementId, buttonId)">
            <script th:inline="javascript">
                $([[${'#' + buttonId}]]).click(function () {
                    // assumes element with id='button'
                    $([[${'#' + elementId}]]).toggle('slow');
                });
            </script>
        </div>

        <div th:fragment="spyware (course, task)">
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/diff_match_patch/20121119/diff_match_patch.js"></script>
            <script type="text/javascript" src="/tmc-analytics.min.js"></script>
            <script th:inline="javascript">
                var user = [[${#authentication.name}]];
                var token = [[${#authentication.details.tokenValue}]];
                var course = [[${course.name}]];
                        var task = [[${task.name}]];
                        var analytics = new TmcAnalytics(user, token, course, task, "http://staging.spyware.testmycode.net/");
                var taskQuery = document.getElementById("taskQuery");

                function onKeyUpHandler(e) {
                    var content = taskQuery.value;
                    var action = "text_insert";

                    if (e.keyCode === 8 || e.keyCode === 46) {
                        action = "text_remove";
                    }

                    analytics.spyEvent(task, content, action);
                }

                taskQuery.addEventListener("keyup", onKeyUpHandler);
            </script>
        </div>
    </body>
</html>