body { 
    padding-top: 53px; 
    margin: 10px;
}

/* enable absolute positioning */
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
  margin-left: auto; 
  margin-right: auto;
}