<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${category.name}">Category name</title>
        <link th:include="fragments/bootstrap :: bootstrap"/>
    </head>
    <body>

        <div id="fragmentsTop" th:include="fragments/essentials :: fragmentsTop"></div>

        <div id="stuffs">
            <div class="page-header">
                <h1 th:text="${category.name}"></h1>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <b class="panel-title">Tasks</b>
                    <p th:if="${role != 'STUDENT' and category.owner != null}" th:text="${'Owner: ' + category.owner.username}"></p>
                </div>
                
                <div class="panel-body" th:if="${category.description}">
                    <p th:text="${category.description}"></p>                    
                </div>

                <div class="list-group" th:each="task : ${category.taskList}">
                    <a class="list-group-item" th:href="@{__${#httpServletRequest.requestURI}__/tasks/__${task.id}__}">
                        <span class="badge" th:if="${course}">Dön</span>
                        
                        <b class="list-group-item-heading" th:text="${task.name}"></b>
                        
                        <div class="list-group-item-text" th:if="${role != 'STUDENT'}">
                            <form th:method="POST" th:action="@{/categories/{id} (id = ${category.id})}">
                                <input type="hidden" th:value="${task.id}" name="taskId"/>
                                <input class="btn btn-xs btn-default" type="submit" th:value="'Switch ' + ${task.name} + ' with next task'"/>
                            </form>                            
                        </div>
                    </a>
                </div>
            </div>

            <div th:if="${role != 'STUDENT' or owned == true}" class="btn-group" role="group">
                <form th:method="DELETE" th:action="@{ {id} (id=${category.id})}" id="delete"></form>
                <form th:method="GET" th:action="@{ {id}/edit (id=${category.id})}" id="edit"></form>
                <form th:method="GET" th:action="@{ {catId}/tasks/create (catId = ${category.id})}" id="createTask"></form>
                <button class="btn btn-default" form="createTask">Create task to category</button>
                <button class="btn btn-warning" form="edit" onclick="confirm('Are you sure?');">Edit category</button>
                <button th:if="role != 'STUDENT'" class="btn btn-danger" form="delete" onclick="confirm('Are you sure?');">Delete category</button>                
            </div>
        </div>
        
        <div id="footer" th:include="fragments/footer_template :: footer"></div>
    </body>
</html>