<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${course.name} + ' category details'">Course Form</title>
        <link th:include="fragments/bootstrap :: bootstrap"/>
    </head>
    <body>

        <div th:include="fragments/navbar_template :: navbar"></div>
        <div th:include="fragments/messages_template :: messages"></div>

        <div>

            <div class="page-header">
                <h1 th:text="${course.name} + ' category details'">Course's category detail edit form</h1>
            </div>
            
            <form method="POST" action="#" th:action="@{${actionURL}}" th:object="${wrapper}">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Category</th>
                            <th>Starts</th>
                            <th>Expires</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="detail, stat : ${wrapper.categoryDetailsList}">
                            <td>
                                <b th:text="${detail.category.name}"></b>

                                <input th:type="hidden" readonly="readonly"
                                       th:name="|wrapper.categoryDetailsList[${stat.index}]|"
                                       th:value="${detail.course}"
                                       th:field="*{categoryDetailsList[__${stat.index}__].course}"/>

                                <input th:type="hidden" readonly="readonly"
                                       th:name="|wrapper.categoryDetailsList[${stat.index}]|"
                                       th:value="${detail.category}"
                                       th:field="*{categoryDetailsList[__${stat.index}__].category}"/>
                            </td>
                            <td>
                                <input type="date"
                                       th:name="|wrapper.categoryDetailsList[${stat.index}]|"
                                       th:field="*{categoryDetailsList[__${stat.index}__].starts}"/>
                            </td>
                            <td>
                                <input type="date"
                                       th:name="|wrapper.categoryDetailsList[${stat.index}]|"
                                       th:field="*{categoryDetailsList[__${stat.index}__].expires}"/>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input class="btn btn-primary" type="submit"/>
            </form>

        </div>

        <div th:include="fragments/scripts :: searchScript"></div>
        <div th:include="fragments/footer_template :: footer"></div>        
    </body>

</html>