<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Course Form</title>

    </head>
    <body>

        <div th:include="fragments/navbar_template :: navbar"></div>
        <div th:include="fragments/messages_template :: messages"></div>

        <div>
            
            <form method="POST" th:action="@{${actionURL}}">
                <div th:each="detail : @{categoryDetailsList}">
                    <input type="hidden" name="course" th:value="${detail.course}"/>
                    <input type="hidden" name="category" th:value="${detail.category}"/>
                    <div>
                        <label>Category starts</label><input type="date" name="starts"/>
                    </div>
                    
                    <div>
                        <label>Category expires</label><input type="date" name="expires"/>
                    </div>
                    <input type="submit" th:text="submit it"/>
                </div>
            </form>
            
            <!-- 
            <form method="POST" th:action="@{${actionURL}}" class="form-group">
                <div th:each="detail,status : ${categoryDetailsList}">
                    <input type="hidden" name="*{categoryDetailsList[__${status.index}__].course}" th:value="${detail.course}"/>
                    <input type="hidden" name="*{categoryDetailsList[__${status.index}__].category}" th:value="${detail.category}"/>
                    
                    <div>
                        <label>Category starts</label><input type="date" name="*{categoryDetailsList[__${status.index}__].starts}"/>
                    </div>
                    
                    <div>
                        <label>Category expires</label><input type="date" name="*{categoryDetailsList[__${status.index}__].expires}"/>
                    </div>
                    
                </div>
                
                <input type="submit"/>
            </form>
            -->
        </div>

        <div th:include="fragments/scripts :: searchScript"></div>
        <div th:include="fragments/footer_template :: footer"></div>
        <div th:include="fragments/bootstrap :: bootstrap"></div>
        <div th:include="fragments/twitterBootstrap :: twitterBootstrap"></div>
    </body>

</html>