<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Course Form</title>

    </head>
    <body>

        <div th:include="fragments/navbar_template :: navbar"></div>
        <div th:include="fragments/messages_template :: messages"></div>

        <div>
            <form method="POST" th:action="@{${actionURL}}">
                <div>
                    <!-- th:text="'Execution mode is ' + ( (${execMode} == 'dev')? 'Development' : 'Production')" -->
                    <span>Course name</span>
                    <input type="text" name="name" th:value="( (${course != null})? ${course.name} : '')"/>
                </div>

                <div>
                    <span>Course Description</span>
                    <textarea name="description" th:value="( (${course != null})? ${course.description} : '')"></textarea>
                </div>

                <div>
                    <span>Start-date - MM-DD-YYYY</span>
                    <input type="date" name="starts" th:value="( (${course != null})? ${course.starts} : '')"/>
                </div>

                <div>
                    <span>Expire-date - MM-DD-YYYY</span>
                    <input type="date" name="expires" th:value="( (${course != null})? ${course.expires} : '')"/>
                </div>

                <div>
                    <button type="button" style="margin-bottom: 10px" class="btn btn-default btn-sm topspace" id="myBtn"
                            data-toggle="modal" data-target="#categoryModal">
                        Select Categories
                    </button>
                </div>
                
                <div class="modal fade" id="categoryModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Choose Categories</h4>
                            </div>
                            <div class="modal-body">
                                <input type="text" id="search" placeholder="Type to search" class="topspace"/>

                                <div class="checkbox" th:each="category : ${categories}" style="border: none">
                                    <label>
                                        <input th:if="${course} == null" type="checkbox" name="categoryIds" th:value="${category.id}" />
                                        <!-- th:checked="${#lists.contains(product.selectedTemplates, template)}" -->
                                        <input th:if="${course}" type="checkbox" name="categoryIds" th:value="${category.id}" th:checked="${#lists.contains(course.courseCategories, category)}"/>
                                        <p class="categoryName" th:text="${category.name}"></p>
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" name="move" class="btn btn-primary" data-dismiss="modal">Select
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Create Course" />
            </form>
        </div>

        <div th:include="fragments/scripts :: searchScript"></div>
        <div th:include="fragments/footer_template :: footer"></div>
        <div th:include="fragments/bootstrap :: bootstrap"></div>
        <div th:include="fragments/twitterBootstrap :: twitterBootstrap"></div>
    </body>

</html>