<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${course.name}">Course</title>

    </head>
    <body>

        <div th:include="fragments/navbar_template :: navbar"></div>
        <div th:include="fragments/messages_template :: messages"></div>

        <div>
            <span>Course name</span>
            <h1 th:text="${course.name}"></h1>
        </div>
        <div th:if="${course.description}">
            <span>Course Description</span>
            <p th:text="${course.description}"></p>
        </div>
        <div th:if="${course.starts}">
            <span>Start-date</span>
            <p th:text="${course.starts}"></p>
        </div>
        <div th:if="${course.expires}">
            <span>Expire-date</span>
            <p th:text="${course.expires}"></p>
        </div>
        
        <div th:if="${course.courseCategories}">
            <span>Categories</span>
            <div th:each="category : ${course.courseCategories}">
                <h3><a th:text="${category.name}">Category Name</a></h3>
            </div>
        </div>
        
        <div>
            <form th:method="DELETE" th:action="@{/courses/{id}/delete (id = ${course.id})}">
                <input type="submit" value="Delete course"/>
            </form>
        </div>
        
        <div th:include="fragments/footer_template :: footer"></div>
        <div th:include="fragments/bootstrap :: bootstrap"></div>
        <div th:include="fragments/twitterBootstrap :: twitterBootstrap"></div>
    </body>

</html>