<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${task.name}">Edit task</title>
        <link th:include="fragments/bootstrap :: bootstrap"/>
    </head>
    <body>
        <div id="fragmentsTop" th:include="fragments/essentials :: fragmentsTop"></div>

        <div id="everything">
            <div class="page-header">
                <h1 th:text="${'Edit ' + task.name}"></h1>
            </div>
            <div class="list-group" style="width: 50%">
                <div>
                    <div class="list-group-item">
                        <b class="list-group-item-heading">Tags</b>
                        <div class="list-group-item-text" th:each="tag : ${tags}" style="display: inline-block; padding: 15px">
                            <form th:if="${role != 'STUDENT'}" th:method="DELETE" th:action="@{/tasks/{id}/tags (id=${task.id})}" class="row form-inline">
                                <input type="hidden" name="name" th:value="${tag.name}"/>
                                <input type="hidden" name="redirectUri" th:value="${#httpServletRequest.requestURI}"/>
                                <div class="form-group well well-sm" th:if="${role != 'STUDENT'}" >
                                    <label th:text="${tag.name}" for="tagDelete"></label>
                                    <input id="tagDelete" class="btn btn-danger btn-xs form-control" value="Delete" type="submit"/>
                                </div>                                
                            </form>
                        </div>
                    </div>

                    <div id="tagsForm" class="list-group-item">
                        <form role="form" method="POST" th:action="@{/tasks/{id}/tags (id=${task.id})}">
                            <div class="form-group">
                                <label for="tagName">Tag name</label>
                                <input id="tagName" class="form-control" type="text" name="name"/>
                            </div>

                            <input type="hidden" name="redirectUri" th:value="${#httpServletRequest.requestURI}"/>

                            <input class="btn btn-primary" type="submit" value="Save new tag"/>
                        </form>
                    </div>

                    <div class="list-group-item">
                        <form class="well" method="POST" th:action="@{__${#httpServletRequest.requestURI}__}">
                            <div class="form-group">
                                <label for="tname">Task name</label>
                                <input id="tname" class="form-control" type="text" name="name" th:value="${task.name}"/>
                            </div>

                            <div class="form-group">
                                <label for="tdesc">Description</label>
                                <textarea id="tdesc" class="form-control" name="description" th:text="${task.description}"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="tsol">Solution</label>
                                <textarea id="tsol" class="form-control" name="solution" th:text="${task.solution}"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="tdb">Database</label>
                                <select class="form-control" id="tdb" name="databaseId">
                                    <option th:value="${task.database.id}"  
                                            th:text="${task.database.name}"></option>
                                    <option th:each="db : ${databases}" th:text="${db.name}" th:value="${db.id}"></option>
                                </select>
                            </div>

                            <input type="hidden" name="redirectUri" th:value="${#httpServletRequest.requestURI}"/>

                            <input class="btn btn-primary" type="submit" value="Submit"/>
                        </form>
                    </div>
                </div>
            </div>

        </div>

        <a th:text="'Back to '+${task.name}" th:href="@{/tasks/{id}(id=${task.id})}">Back to task</a>

        <div th:include="fragments/footer_template :: footer"></div>
        <div th:include="fragments/scripts :: togglehide (elementId = 'tagsForm', buttonId = 'toggleHideForm')"></div>
    </body>
</html>
