<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Give feedback</title>
        <link th:include="fragments/bootstrap :: bootstrap"/>
    </head>
    <body>

        <div id="fragmentsTop">
            <div th:include="fragments/navbar_template :: navbar"></div>
            <div th:include="fragments/messages_template :: messages"></div>    
        </div>


        <div id="stuffs" class="panel panel-default">

            <div class="list-group-item" th:if="${tables}" th:include="fragments/essentials :: tableListing (tables = ${tables})">
                <h4 class="list-group-item-heading">Query</h4>
            </div>

            <form method="POST" th:action="@{/courses/{courseId}/categories/{categoryId}/tasks/{taskId}/feedback (courseId=${course.id}, categoryId=${category.id}, taskId=${task.id})}" 
                  th:object="${taskFeedback}" id="feedbackForm">
                <table class="table">
                    <thead class="panel-heading">
                        <tr>
                            <td><h4 th:text="'Rate task ' + ${task.name}"></h4></td>
                            <td><b>Rating</b></td>
                        </tr>
                    </thead>
                    <tbody class="panel-body well">
                        <tr>
                            <td><b>Difficulty</b></td>
                            <td>
                                <input type="radio" name="difficulty" value="0" th:field="${taskFeedback.feedback['difficulty']}" th:checked="checked"/>0
                                <input type="radio" name="difficulty" value="1" th:field="${taskFeedback.feedback['difficulty']}"/>1
                                <input type="radio" name="difficulty" value="2" th:field="${taskFeedback.feedback['difficulty']}"/>2
                                <input type="radio" name="difficulty" value="3" th:field="${taskFeedback.feedback['difficulty']}"/>3
                                <input type="radio" name="difficulty" value="4" th:field="${taskFeedback.feedback['difficulty']}"/>4                                
                                <input type="radio" name="difficulty" value="5" th:field="${taskFeedback.feedback['difficulty']}"/>5                                
                            </td>
                        </tr>
                        <tr>
                            <td><b>Educational</b></td>
                            <td>
                                <input type="radio" name="educational" th:field="${taskFeedback.feedback['educational']}" value="0" th:checked="checked"/>0
                                <input type="radio" name="educational" th:field="${taskFeedback.feedback['educational']}" value="1"/>1
                                <input type="radio" name="educational" th:field="${taskFeedback.feedback['educational']}" value="2"/>2
                                <input type="radio" name="educational" th:field="${taskFeedback.feedback['educational']}" value="3"/>3
                                <input type="radio" name="educational" th:field="${taskFeedback.feedback['educational']}" value="4"/>4
                                <input type="radio" name="educational" th:field="${taskFeedback.feedback['educational']}" value="5"/>5
                            </td>
                        </tr>
                        <tr>
                            <td><b>Effort</b></td>
                            <td>
                                <input type="radio" name="effort" th:field="${taskFeedback.feedback['effort']}" value="0" th:checked="checked"/>0
                                <input type="radio" name="effort" th:field="${taskFeedback.feedback['effort']}" value="1"/>1
                                <input type="radio" name="effort" th:field="${taskFeedback.feedback['effort']}" value="2"/>2
                                <input type="radio" name="effort" th:field="${taskFeedback.feedback['effort']}" value="3"/>3
                                <input type="radio" name="effort" th:field="${taskFeedback.feedback['effort']}" value="4"/>4
                                <input type="radio" name="effort" th:field="${taskFeedback.feedback['effort']}" value="5"/>5
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input th:field="${taskFeedback.task}" th:type="hidden" name="task" th:value="${task}"/>
                <input class="btn btn-primary" type="submit" value="Submit feeback" />                
            </form>

            <nav>
                <ul class="pager">
                    <li th:if="${next}" class="next"><a th:href="@{/courses/{courseId}/categories/{catId}/tasks/{taskId}/next (courseId=${course.id}, catId=${category.id}, taskId=${task.id})}">Next task <span aria-hidden="true">&rarr;</span></a></li>
                    <li th:if="${next == null}" class="next disabled"><a href="#">Next task <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>
        </div>

        <div th:include="fragments/scripts :: searchScript"></div>
        <div th:include="fragments/footer_template :: footer"></div>

    </body>

</html>