<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Give feedback</title>

    </head>
    <body>

        <div th:include="fragments/navbar_template :: navbar"></div>
        <div th:include="fragments/messages_template :: messages"></div>

        <div>
            <form method="POST" th:action="@{/courses/{courseId}/category/{categoryId}/task/{taskId}/feedback (courseId=${course.id}, categoryId=${category.id}, taskId=${task.id})}" 
                  th:object="${taskFeedback}">
                <table class='table'>
                    <thead>
                        <tr>
                            <td th:text="'Rate task ' + ${task.name}"></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Difficulty</td>
                            <td>
                                <input type="radio" name="difficulty" value="0" th:field="${taskFeedback.feedback[' + 'difficulty' + ']}" th:checked="checked"/>0
                                <input type="radio" name="difficulty" value="1" th:field="${taskFeedback.feedback[' + 'difficulty' + ']}"/>1
                                <input type="radio" name="difficulty" value="2" th:field="${taskFeedback.feedback[' + 'difficulty' + ']}"/>2
                                <input type="radio" name="difficulty" value="3" th:field="${taskFeedback.feedback[' + 'difficulty' + ']}"/>3
                                <input type="radio" name="difficulty" value="4" th:field="${taskFeedback.feedback[' + 'difficulty' + ']}"/>4                                
                                <input type="radio" name="difficulty" value="5" th:field="${taskFeedback.feedback[' + 'difficulty' + ']}"/>5                                
                            </td>
                        </tr>
                        <tr>
                            <td>Educational</td>
                            <td>
                                <input type="radio" name="educational" th:field="${taskFeedback.feedback[' + 'educational' + ']}" value="0" th:checked="checked"/>0
                                <input type="radio" name="educational" th:field="${taskFeedback.feedback[' + 'educational' + ']}" value="1"/>1
                                <input type="radio" name="educational" th:field="${taskFeedback.feedback[' + 'educational' + ']}" value="2"/>2
                                <input type="radio" name="educational" th:field="${taskFeedback.feedback[' + 'educational' + ']}" value="3"/>3
                                <input type="radio" name="educational" th:field="${taskFeedback.feedback[' + 'educational' + ']}" value="4"/>4
                                <input type="radio" name="educational" th:field="${taskFeedback.feedback[' + 'educational' + ']}" value="5"/>5
                            </td>
                        </tr>
                        <tr>
                            <td>Effort</td>
                            <td>
                                <input type="radio" name="effort" th:field="${taskFeedback.feedback[' + 'effort' + ']}" value="0" th:checked="checked"/>0
                                <input type="radio" name="effort" th:field="${taskFeedback.feedback[' + 'effort' + ']}" value="1"/>1
                                <input type="radio" name="effort" th:field="${taskFeedback.feedback[' + 'effort' + ']}" value="2"/>2
                                <input type="radio" name="effort" th:field="${taskFeedback.feedback[' + 'effort' + ']}" value="3"/>3
                                <input type="radio" name="effort" th:field="${taskFeedback.feedback[' + 'effort' + ']}" value="4"/>4
                                <input type="radio" name="effort" th:field="${taskFeedback.feedback[' + 'effort' + ']}" value="5"/>5
                            </td>
                        </tr>
                    </tbody>
                </table>
                <input th:field="${taskFeedback.task}" th:type="hidden" name="task" th:value="${task}"/>
                <input type="submit" value="Submit feeback" />                
            </form>
        </div>

        <div th:include="fragments/scripts :: searchScript"></div>
        <div th:include="fragments/footer_template :: footer"></div>
        <div th:include="fragments/bootstrap :: bootstrap"></div>
        <div th:include="fragments/twitterBootstrap :: twitterBootstrap"></div>
    </body>

</html>