<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Create Task</title>
        <link th:include="fragments/bootstrap :: bootstrap"/>
    </head>
    <body>
        <div id="fragmentsTop">
            <div th:include="fragments/navbar_template :: navbar"></div>
            <div th:include="fragments/messages_template :: messages"></div>
        </div>

        <div id="stuffs">
            <div class="page-header">
                <h1>Create task</h1>
            </div>
            <div class="panel panel-default">
                <div id="taskForm" class="panel panel-body" style="width: 70%">
                    <form th:method="POST" th:action="@{/categories/{catId}/tasks (catId=${categoryId})}" th:object="${task}" role="form" class="well">
                        <div class="form-group">
                            <label for="taskName">Name</label>
                            <input id="taskName" class="form-control" type="text" th:field="*{name}" placeholder="task name"/>
                            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</p>
                        </div>

                        <div class="form-group">
                            <label for="taskSolution">Solution</label>
                            <input id="taskSolution" type="text" th:field="*{solution}" class="form-control" placeholder="SHOW TABLES;"/>
                            <p th:if="${#fields.hasErrors('solution')}" th:errors="*{solution}">Solution error</p>
                        </div>

                        <div class="form-group">
                            <label for="tdb">Database</label>
                            <select class="form-control" id="tdb" name="database">
                                <option th:if="${task.database}" th:value="${task.database.id}"  
                                        th:text="${task.database.name}"></option>
                                <option th:if="${task.database == null or task.database != db}" th:each="db : ${databases}" th:text="${db.name}" th:value="${db.id}"></option>
                            </select>
                            <p th:if="${#fields.hasErrors('database')}" th:errors="*{database}">Database error</p>
                        </div>

                        <div id="taskCategories">
                            <input type="hidden" th:field="*{categories}" th:value="${category}"/>
                        </div>

                        <div id="submitTask">
                            <input class="btn btn-primary" type="submit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div id="fragmentsBottom">
            <div th:include="fragments/footer_template :: footer"></div>

            <div th:include="fragments/scripts :: searchScript"></div>

        </div>

    </body>
</html>
