<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <title th:text="${task.name}">Task name</title>
        <link th:include="fragments/bootstrap :: bootstrap"/>
    </head>
    <body>
        <div id="fragmentsTop" th:include="fragments/essentials :: fragmentsTop"></div>        
        
        <div id="stuffz">
            <div class="page-header">                
                <h1 th:inline="text">
                    [[${task.name}]] 
                    <!-- Test label -->
                    <span th:if="${course != null and finished}" class="label label-success">Done</span>
                </h1>

            </div>

            <div class="panel panel-primary">
                <div class="panel-heading" th:if="${role != 'STUDENT' and task.owner != null}" >
                    <p class="panel-title" th:text="${'Owner: ' + task.owner.username}">Owner</p>
                </div>
                
                <div class="panel-body">
                    <p th:if="${task.description}" th:text="${task.description}"></p>
                    <p th:if="${role != 'STUDENT'}" th:text="${'Solution: ' + task.solution}"></p>
                    <span th:each="tag : ${task.tags}" class="label label-primary" th:text="${tag.name}"></span>
                </div>
                
                <div class="list-group" th:if="${category}">
                    <div class="list-group-item" th:if="${tables}" th:include="fragments/essentials :: tableListing (tables = ${tables})">
                        <h4 class="list-group-item-heading">Query</h4>
                    </div>
                    
                    <div id="queryForm" class="list-group-item well">
                        <form th:method="POST" role="form" th:action="@{__${#httpServletRequest.requestURI}__/query}">
                            <div class="form-group">
                                <label for="taskQuery" style="max-width: 300px; display: block; margin-left: auto; margin-right: auto;">Perform query to database <a target="_blank" th:text="${database.name}" th:href="@{/databases/{dbId} (dbId=${database.id})}"></a></label>
                                <textarea name="query" id="taskQuery" placeholder="SHOW TABLES;" class="form-control" th:text="((${query}) ? ${query} : '')" style="height: 200px; width: 300px; display: block; margin-left: auto; margin-right: auto;"></textarea>
                            </div>

                            <div class='form-group'>
                                <input class="btn btn-primary form-control" style="width: 300px; display: block; margin-left: auto; margin-right: auto;" type="submit"/>
                            </div>
                        </form>
                    </div>                   
                </div>

                <div th:if="${category == null and task.categories != null and not #lists.isEmpty(task.categories)}" class="list-group">
                    <p class="list-group-item active">Task categories</p>
                    <a th:each="cat : ${task.categories}" class="list-group-item" th:href="@{/categories/{catId} (catId=${cat.id})}">
                        <h4 class="list-group-item-heading" th:text="${cat.name}"></h4>
                        <p class="list-group-item-text" th:text="${cat.description}"></p>
                    </a>
                </div>
            </div>

            <div class="btn-toolbar" th:if="${role != 'STUDENT' or owned == true}">
                <div class="btn-group" th:if="${course}">
                    <form id="feedback" th:method="GET" th:action="@{/courses/{courseId}/categories/{categoryId}/tasks/{taskId}/feedback (courseId = ${course.id}, categoryId=${category.id}, taskId=${task.id})}"></form>                
                    <button th:class="((${finished})? 'btn btn-default' : 'btn btn-default disabled')" class="btn btn-default" form="feedback" th:text="'Give feedback to ' + ${task.name}"></button>
                </div>

                <div th:if="${role != 'STUDENT' or owned}" class="btn-group">
                    <form id="delete" th:method="DELETE" th:action="@{ {current} (current=${#httpServletRequest.requestURI})}"></form>
                    <form id="edit" th:method="GET" th:action="@{ {current}/edit (current=${#httpServletRequest.requestURI})}"></form>
                    <button class="btn btn-warning" form="edit" onclick="return confirmScript('Are you sure you want to edit task?')">Edit task</button>
                    <button class="btn btn-danger" form="delete" onclick="return confirmScript('Are you ABSOLUTELY sure you want to delete task?')">Delete task</button>
                </div>

            </div>

            <nav th:if="${category}">
                <ul class="pager">
                    <li th:if="${prev}" class="previous"><a th:href="@{__${#httpServletRequest.requestURI}__/prev}"><span aria-hidden="true">&larr;</span> Previous task</a></li>
                    <li th:if="${prev == null}" class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous task</a></li>
                    <li th:if="${next}" class="next"><a th:href="@{__${#httpServletRequest.requestURI}__/next}">Next task <span aria-hidden="true">&rarr;</span></a></li>
                    <li th:if="${next == null}" class="next disabled"><a href="#">Next task <span aria-hidden="true">&rarr;</span></a></li>
                </ul>
            </nav>                              
        </div>        

        <div id="fragmentsBottom">
            <div th:if="${course}" th:include="fragments/scripts :: spyware (course = ${course}, task = ${task})"></div>
            <div th:include="fragments/footer_template :: footer"></div>
            <div th:include="fragments/scripts :: confirmScript"></div>        
        </div>        
    </body>

</html>
