<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Create Task</title>
        <link th:include="fragments/bootstrap :: bootstrap"/>
    </head>
    <body>
        <div id="fragmentsTop">
            <div th:include="fragments/navbar_template :: navbar"></div>
            <div th:include="fragments/messages_template :: messages"></div>
        </div>

        <div id="stuffs">
            <div class="page-header">
                <h1>Create task</h1>
            </div>
            <div class="panel panel-default">
                <div id="taskForm" class="panel-body" style="width: 70%">
                    <form th:method="POST" th:action="((${courseId != null})? @{/courses/{courseId}/category/{catId}/tasks (courseId=${courseId}, catId=${categoryId})} : @{/categories/{catId}/tasks (catId=${categoryId})})" th:object="${task}" role="form" class="well">
                        <div th:class="((${#fields.hasErrors('name')})? 'form-group panel panel-danger' : 'form-group')">
                            <p th:if="${#fields.hasErrors('name')}" class="panel-heading" th:errors="*{name}"></p>
                            <label for="taskName">Name</label>
                            <input id="taskName" class="form-control" type="text" th:field="*{name}" placeholder="task name"/>                            
                        </div>

                        <div th:class="((${#fields.hasErrors('description')})? 'form-group panel panel-danger' : 'form-group')">
                            <p th:if="${#fields.hasErrors('description')}" class="panel-heading" th:errors="*{description}">Solution error</p>
                            <label for="taskDescription">Solution</label>
                            <textarea id="taskDescription" th:field="*{description}" class="form-control" placeholder="task description"></textarea>                            
                        </div>

                        <div th:class="((${#fields.hasErrors('database')})? 'form-group panel panel-danger' : 'form-group')">
                            <p th:if="${#fields.hasErrors('database')}" class="panel-heading" th:errors="*{database}">Database error</p>                            
                            <label for="tdb">Database</label>
                            <select class="form-control" id="tdb" th:field="*{database}">
                                <option th:if="${task.database}" th:value="${task.database.id}"  
                                        th:text="${task.database.name}"></option>
                                <option th:if="${task.database == null or task.database != db}" th:each="db : ${databases}" th:text="${db.name}" th:value="${db.id}"></option>
                            </select>                            
                        </div>
                        
                        <div th:class="((${#fields.hasErrors('solution')})? 'form-group panel panel-danger' : 'form-group')">
                            <p th:if="${#fields.hasErrors('solution')}" class="panel-heading" th:errors="*{solution}">Solution error</p>
                            <label for="taskSolution">Solution</label>
                            <textarea id="taskSolution" th:field="*{solution}" class="form-control" placeholder="SHOW TABLES;"></textarea>                            
                        </div>

                        <div id="taskCategories">
                            <input type="hidden" th:field="*{categories}" th:value="${category}"/>
                        </div>

                        <div id="submitTask">
                            <input class="btn btn-primary form-control" type="submit"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        
        <div id="fragmentsBottom">
            <div th:include="fragments/footer_template :: footer"></div>
            <div th:include="fragments/scripts :: searchScript"></div>
        </div>

    </body>
</html>
