<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="${editedUser.username}">User Profile</title>
        <link th:include="fragments/bootstrap :: bootstrap"/>
    </head>
    <body>
        <div th:include="fragments/navbar_template :: navbar"></div>

        <div th:include="fragments/messages_template :: messages"></div>

        <div>
            <div class="page-header">
                <h1>TMC-account <small th:text="${editedUser.username}"></small></h1>
            </div>

            <div id="stuffs" class="panel panel-default">
                <div class="panel-heading" th:if="${role != 'STUDENT'}">
                    <h4 class="panel-title">User role: <small th:text="${editedUser.role}"></small></h4>
                    <div class="btn-group">
                        <form id="deleteUser" role="form" th:method="DELETE" th:action="@{/users/{id} (id=${editedUser.id})}"></form>
                        <form id="promoteUser" role="form" th:method="POST" th:action="@{/users/{id}/promote (id=${editedUser.id})}"></form>
                        <form id="demoteUser" role="form" th:method="POST" th:action="@{/users/{id}/demote (id=${editedUser.id})}"></form>                        
                        <button th:class="((${#strings.contains(#httpServletRequest.requestURI, 'profile') or editedUser.role == 'ADMIN'}) ? 'btn btn-default disabled' : 'btn btn-default')" form="promoteUser">Promote user</button>
                        <button th:class="((${#strings.contains(#httpServletRequest.requestURI, 'profile') or editedUser.role == 'STUDENT'}) ? 'btn btn-default disabled' : 'btn btn-default')" form="demoteUser">Demote user</button>
                        <button th:class="((${#strings.contains(#httpServletRequest.requestURI, 'profile')}) ? 'btn btn-danger disabled' : 'btn btn-danger')" form="deleteUser">Delete user</button>
                    </div>
                </div>
                
                <div class="panel-body">
                    <div class="list-group">
                        
                        <div id="tokenTools" th:if="${#strings.contains(#httpServletRequest.requestURI, 'profile') and role!= 'STUDENT'}">
                            <form id="createToken" role="form" method="POST" th:action="@{/profile/token}"></form>
                            <button type="submit" class="list-group-item active" form="createToken">Create export token</button>
                            <div th:if="${token}" class="list-group-item">
                                <b class="list-group-item-heading">Your export token</b>
                                <p class="list-group-item-text" th:text="${token.token}"></p>
                            </div>
                        </div>
                        <div id="adminTools" th:if="${#strings.contains(#httpServletRequest.requestURI, 'profile') and role== 'ADMIN'}">
                            <form id="createTemplate" role="form" method="POST" th:action="@{/admin/coursetemplate}"></form>
                            <button class="list-group-item" form="createTemplate" onclick="return confirmScript('Are you ABSOLUTELY sure you want to create new template course?')">
                                Create course template
                            </button>
                        </div>

                        <div id="myCourses" th:include="fragments/essentials :: courses"></div>
                    </div>
                </div>
            </div>            
        </div>


        <div id="fragmentsBottom">
            <div th:include="fragments/footer_template :: footer"></div>
            <div th:include="fragments/scripts :: confirmScript"></div>        
        </div>        
    </body>

</html>